- hosts: ptaf-vm1
  name: Execute commands on node ptaf-vm1
  tasks:
  - name: 'Run command: rm /opt/ptaf/conf/wsc/config.sqlite3'
    shell: rm /opt/ptaf/conf/wsc/config.sqlite3
  - name: 'Run command: wsc -c "dhcp set routers false"'
    shell: wsc -c "dhcp set routers false"
  - name: 'Run command: wsc -c "if set ens18 inet_method static inet_address 192.168.88.171
      inet_netmask 255.255.255.0 inet_gateway 192.168.88.1"'
    shell: wsc -c "if set ens18 inet_method static inet_address 192.168.88.171 inet_netmask
      255.255.255.0 inet_gateway 192.168.88.1"
  - name: 'Run command: wsc -c "if set ens18 role WAN"'
    shell: wsc -c "if set ens18 role WAN"
  - name: 'Run command: wsc -c "if set ens19 inet_method static inet_address 172.16.10.10
      inet_netmask 255.255.255.0"'
    shell: wsc -c "if set ens19 inet_method static inet_address 172.16.10.10 inet_netmask
      255.255.255.0"
  - name: 'Run command: wsc -c "if set ens19 role CLUSTER"'
    shell: wsc -c "if set ens19 role CLUSTER"
  - name: 'Run command: wsc -c "if set ens18 role LAN"'
    shell: wsc -c "if set ens18 role LAN"
  - name: 'Run command: hostnamectl set-hostname ptaf-vm1'
    shell: hostnamectl set-hostname ptaf-vm1
  - name: 'Run command: echo "127.0.0.1 localhost" > /etc/hosts'
    shell: echo "127.0.0.1 localhost" > /etc/hosts
  - name: 'Run command: echo "127.0.1.1 ptaf-vm1" >> /etc/hosts'
    shell: echo "127.0.1.1 ptaf-vm1" >> /etc/hosts
  - name: 'Run command: echo "172.16.10.12 ptaf-vm3" >> /etc/hosts'
    shell: echo "172.16.10.12 ptaf-vm3" >> /etc/hosts
  - name: 'Run command: echo "172.16.10.11 ptaf-vm2" >> /etc/hosts'
    shell: echo "172.16.10.11 ptaf-vm2" >> /etc/hosts
  - name: 'Run command: echo "172.16.10.10 ptaf-vm1" >> /etc/hosts'
    shell: echo "172.16.10.10 ptaf-vm1" >> /etc/hosts
  - name: 'Run command: wsc -c "inventory node add ptaf-vm1"'
    shell: wsc -c "inventory node add ptaf-vm1"
  - name: 'Run command: wsc -c ''inventory node set ptaf-vm1 cluster_ip 172.16.10.10
      role master,worker-backend,postgresql,rabbitmq,minio,clickhouse,worker-traffic
      port 22013 user_name pt user_password P@ssw0rd sudo_password P@ssw0rd'''
    shell: wsc -c 'inventory node set ptaf-vm1 cluster_ip 172.16.10.10 role master,worker-backend,postgresql,rabbitmq,minio,clickhouse,worker-traffic
      port 22013 user_name pt user_password P@ssw0rd sudo_password P@ssw0rd'
  - name: 'Run command: wsc -c "inventory node add ptaf-vm2"'
    shell: wsc -c "inventory node add ptaf-vm2"
  - name: 'Run command: wsc -c ''inventory node set ptaf-vm2 cluster_ip 172.16.10.11
      role master,worker-backend,postgresql,rabbitmq,minio,clickhouse,worker-traffic
      port 22013 user_name pt user_password P@ssw0rd sudo_password P@ssw0rd'''
    shell: wsc -c 'inventory node set ptaf-vm2 cluster_ip 172.16.10.11 role master,worker-backend,postgresql,rabbitmq,minio,clickhouse,worker-traffic
      port 22013 user_name pt user_password P@ssw0rd sudo_password P@ssw0rd'
  - name: 'Run command: wsc -c "inventory node add ptaf-vm3"'
    shell: wsc -c "inventory node add ptaf-vm3"
  - name: 'Run command: wsc -c ''inventory node set ptaf-vm3 cluster_ip 172.16.10.12
      role master,worker-backend,postgresql,rabbitmq,minio,worker-traffic port 22013
      user_name pt user_password P@ssw0rd sudo_password P@ssw0rd'''
    shell: wsc -c 'inventory node set ptaf-vm3 cluster_ip 172.16.10.12 role master,worker-backend,postgresql,rabbitmq,minio,worker-traffic
      port 22013 user_name pt user_password P@ssw0rd sudo_password P@ssw0rd'
- hosts: ptaf-vm2
  name: Execute commands on node ptaf-vm2
  tasks:
  - name: 'Run command: rm /opt/ptaf/conf/wsc/config.sqlite3'
    shell: rm /opt/ptaf/conf/wsc/config.sqlite3
  - name: 'Run command: wsc -c "dhcp set routers false"'
    shell: wsc -c "dhcp set routers false"
  - name: 'Run command: wsc -c "if set ens18 inet_method static inet_address 192.168.88.172
      inet_netmask 255.255.255.0 inet_gateway 192.168.88.1"'
    shell: wsc -c "if set ens18 inet_method static inet_address 192.168.88.172 inet_netmask
      255.255.255.0 inet_gateway 192.168.88.1"
  - name: 'Run command: wsc -c "if set ens18 role WAN"'
    shell: wsc -c "if set ens18 role WAN"
  - name: 'Run command: wsc -c "if set ens19 inet_method static inet_address 172.16.10.11
      inet_netmask 255.255.255.0"'
    shell: wsc -c "if set ens19 inet_method static inet_address 172.16.10.11 inet_netmask
      255.255.255.0"
  - name: 'Run command: wsc -c "if set ens19 role CLUSTER"'
    shell: wsc -c "if set ens19 role CLUSTER"
  - name: 'Run command: wsc -c "if set ens18 role LAN"'
    shell: wsc -c "if set ens18 role LAN"
  - name: 'Run command: hostnamectl set-hostname ptaf-vm2'
    shell: hostnamectl set-hostname ptaf-vm2
  - name: 'Run command: echo "127.0.0.1 localhost" > /etc/hosts'
    shell: echo "127.0.0.1 localhost" > /etc/hosts
  - name: 'Run command: echo "127.0.1.1 ptaf-vm2" >> /etc/hosts'
    shell: echo "127.0.1.1 ptaf-vm2" >> /etc/hosts
  - name: 'Run command: echo "172.16.10.11 ptaf-vm2" >> /etc/hosts'
    shell: echo "172.16.10.11 ptaf-vm2" >> /etc/hosts
- hosts: ptaf-vm3
  name: Execute commands on node ptaf-vm3
  tasks:
  - name: 'Run command: rm /opt/ptaf/conf/wsc/config.sqlite3'
    shell: rm /opt/ptaf/conf/wsc/config.sqlite3
  - name: 'Run command: wsc -c "dhcp set routers false"'
    shell: wsc -c "dhcp set routers false"
  - name: 'Run command: wsc -c "if set ens18 inet_method static inet_address 192.168.88.173
      inet_netmask 255.255.255.0 inet_gateway 192.168.88.1"'
    shell: wsc -c "if set ens18 inet_method static inet_address 192.168.88.173 inet_netmask
      255.255.255.0 inet_gateway 192.168.88.1"
  - name: 'Run command: wsc -c "if set ens18 role WAN"'
    shell: wsc -c "if set ens18 role WAN"
  - name: 'Run command: wsc -c "if set ens19 inet_method static inet_address 172.16.10.12
      inet_netmask 255.255.255.0"'
    shell: wsc -c "if set ens19 inet_method static inet_address 172.16.10.12 inet_netmask
      255.255.255.0"
  - name: 'Run command: wsc -c "if set ens19 role CLUSTER"'
    shell: wsc -c "if set ens19 role CLUSTER"
  - name: 'Run command: wsc -c "if set ens18 role LAN"'
    shell: wsc -c "if set ens18 role LAN"
  - name: 'Run command: hostnamectl set-hostname ptaf-vm3'
    shell: hostnamectl set-hostname ptaf-vm3
  - name: 'Run command: echo "127.0.0.1 localhost" > /etc/hosts'
    shell: echo "127.0.0.1 localhost" > /etc/hosts
  - name: 'Run command: echo "127.0.1.1 ptaf-vm3" >> /etc/hosts'
    shell: echo "127.0.1.1 ptaf-vm3" >> /etc/hosts
  - name: 'Run command: echo "172.16.10.12 ptaf-vm3" >> /etc/hosts'
    shell: echo "172.16.10.12 ptaf-vm3" >> /etc/hosts
- hosts: all
  name: Execute commands on nodes
  tasks:
  - name: 'Run command: wsc -c "vip set monitoring 192.168.88.170"'
    shell: wsc -c "vip set monitoring 192.168.88.170"
  - name: 'Run command: wsc -c "vip set manage 192.168.88.170"'
    shell: wsc -c "vip set manage 192.168.88.170"
  - name: 'Run command: wsc -c "vip set border 192.168.88.170"'
    shell: wsc -c "vip set border 192.168.88.170"
  - name: 'Run command: wsc -c "dhcp set ntp_servers false"'
    shell: wsc -c "dhcp set ntp_servers false"
  - name: 'Run command: wsc -c "ntp add time.google.com"'
    shell: wsc -c "ntp add time.google.com"
  - name: 'Run command: echo "nameserver 8.8.8.8" > /etc/resolv.conf'
    shell: echo "nameserver 8.8.8.8" > /etc/resolv.conf
  - name: 'Run command: echo "nameserver 1.1.1.1" >> /etc/resolv.conf'
    shell: echo "nameserver 1.1.1.1" >> /etc/resolv.conf
  - name: 'Run command: echo "nameserver 2.2.2.2" >> /etc/resolv.conf'
    shell: echo "nameserver 2.2.2.2" >> /etc/resolv.conf
  - name: 'Run command: wsc -c "timezone Europe/Moscow"'
    shell: wsc -c "timezone Europe/Moscow"
  - name: Commit configuration changes
    shell: wsc -c "config commit"
- name: Check inventory and node list on ptaf-vm1
  hosts: ptaf-vm1
  tasks:
  - name: 'Run command: wsc -c ''inventory check'''
    shell: wsc -c "inventory check"
    register: result
  - name: Show status inventory check
    debug:
      var: result
  - name: 'Run command: wsc -c ''inventory node list'''
    shell: wsc -c "inventory node list"
    register: result
  - name: Show status inventory node list
    debug:
      var: result
